@import "tailwindcss";

@theme {
  --color-primary: #9300D6;
  --color-secondary: #15B602;
  --color-dark: #181818;
  --font-heading: 'Cormorant Garamond', serif;
  --font-body: 'Avenir', sans-serif;
}
